@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 77, 64, 1);
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 44, 86, 1);
  border-radius: 8px;
}
