$warning: #a3cebb;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  // add any additional color below
);

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("https://treknuts-image-bucket.s3.us-east-2.amazonaws.com/projects-images/leaves.png");
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.main-content {
  width: 40rem;
}

@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
  }
}
